<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Scholary - University and College HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo/logo3.png') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dripicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <!-- main-area -->
    <main>
        <!-- slider-area -->
        <section id="parallax" class="slider-area slider-two fix p-relative">
            <div class="slider-shape ss-two layer" data-depth="0.10"><img
                    src="{{ url_for('static', filename='img/bg/slider_shape01.png') }}"></div>
            <div class="slider-active">
                <div class="single-slider slider-bg2 d-flex align-items-center"
                    style="background: url({{ url_for('static', filename='img/slider/slider_img02.png') }}) no-repeat;background-position: center bottom; ">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-9 col-md-12">
                                <div class="slider-content slider-content2  s-slider-content text-center">
                                    <h5 data-animation="fadeInUp" data-delay=".4s">Education Success</h5>
                                    <h2 data-animation="fadeInUp" data-delay=".4s">Expand Your Horizons through
                                        <span>Education</span>
                                    </h2>
                                    <p data-animation="fadeInUp" data-delay=".6s">We have been operating for over a
                                        decade, providing top-notch our clients and building a strong track</p>

                                    <div class="slider-btn mt-30">
                                        <a href="about.html" class="btn" data-animation="fadeInUp" data-delay=".4s">Get
                                            A quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!-- slider-area-end -->
        <!-- service-area -->
        <section class="service-details-one pt-120 pb-90 p-relative fix">
            <div class="animations-09"><img src="{{ url_for('static', filename='img/bg/slider_shape04.png') }}"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title section-title2 center-align mb-50 text-center wow fadeInDown animated"
                            data-animation="fadeInDown" data-delay=".4s">
                            <h5>Our Features</h5>
                            <h2>
                                Building Brighter Minds One Lesson at a Time
                            </h2>

                        </div>

                    </div>
                </div>
                <div class="row sbox">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon2">
                                    <img src="{{ url_for('static', filename='img/icon/sve-icon1.png') }}">
                                </div>
                                <div class="text">
                                    <h3>Tutoring </h3>
                                    <p>We have been operating for over a in the decade, providing top-notch </p>
                                    <ul>
                                        <li>Mistakes To Avoid</li>
                                        <li>Your Startup</li>
                                        <li>Knew About Fonts</li>
                                        <li>Knew About Fonts</li>
                                    </ul>
                                    <a href="single-courses.html" class="readmore">View Details <i
                                            class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon2">
                                    <img src="{{ url_for('static', filename='img/icon/sve-icon2.png') }}">
                                </div>
                                <div class="text">
                                    <h3>Online courses </h3>
                                    <p>We have been operating for over a in the decade, providing top-notch </p>
                                    <ul>
                                        <li>Mistakes To Avoid</li>
                                        <li>Your Startup</li>
                                        <li>Knew About Fonts</li>
                                        <li>Knew About Fonts</li>
                                    </ul>
                                    <a href="single-courses.html" class="readmore">View Details <i
                                            class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="services-box mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="sr-contner">
                                <div class="icon2">
                                    <img src="{{ url_for('static', filename='img/icon/sve-icon3.png') }}">
                                </div>
                                <div class="text">
                                    <h3>Study group </h3>
                                    <p>We have been operating for over a in the decade, providing top-notch </p>
                                    <ul>
                                        <li>Mistakes To Avoid</li>
                                        <li>Your Startup</li>
                                        <li>Knew About Fonts</li>
                                        <li>Knew About Fonts</li>
                                    </ul>
                                    <a href="single-courses.html" class="readmore">View Details <i
                                            class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- service-details2-area-end -->
        <!-- about-area -->
        <section class="about-area2 about-p  pb-120 p-relative fix">
            <div class="animations-09"><img src="{{ url_for('static', filename='img/bg/slider_shape03.png') }}"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content pl-15 wow fadeInRight  animated"
                            data-animation="fadeInRight" data-delay=".4s">
                            <div class="section-title section-title2 pb-25">
                                <h5>About Us</h5>
                                <h2>Empower yourself with education success</h2>
                            </div>
                            <p>We have been operating for over a decade, providing top-notch our clients and building a
                                strong track record in the industry.</p>
                            <div class="slider-btn mt-30">
                                <a href="about.html" class="btn2">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="s-about-img2 p-relative  wow fadeInLeft animated" data-animation="fadeInLeft"
                            data-delay=".4s">
                            <img src="{{ url_for('static', filename='img/features/about_img_03.png') }}">
                            <div class="about-text second-about2">
                                <span>25 <sub>+</sub></span>
                                <p>Years of Experience</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->
        <!-- class area start -->
        <section class="services-area3 pt-120 pb-120 p-relative fix">
            <div class="animations-06"><img src="{{ url_for('static', filename='img/bg/an-img-11.png') }}"></div>
            <div class="animations-12"><img src="{{ url_for('static', filename='img/bg/an-img-12.png') }}"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-50">
                            <h5>What We Do</h5>
                            <h2>Invest in education invest in your future</h2>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="services-item mb-30 hover-zoomin">
                            <div class="services-img">
                                <div class="class-img-outer">
                                    <a href="single-courses.html"> <img
                                            src="{{ url_for('static', filename='img/class/class-1.jpg') }}"></a>
                                </div>
                            </div>
                            <div class="services-content text-left">
                                <h4 class="title"><a href="single-courses.html">Infront</a></h4>
                                <p>We have been operating for over a decade</p>
                                <ul>
                                    <li>
                                        -6 week to 1 year
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="services-item mb-30 hover-zoomin">
                            <div class="services-img">
                                <div class="class-img-outer">
                                    <a href="single-courses.html"> <img
                                            src="{{ url_for('static', filename='img/class/class-2.jpg') }}"></a>
                                </div>
                            </div>
                            <div class="services-content text-left">
                                <h4 class="title"><a href="single-courses.html">Pre-School</a></h4>
                                <p>We have been operating for over a decade</p>
                                <ul>
                                    <li>
                                        -6 week to 1 year
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="services-item mb-30 hover-zoomin">
                            <div class="services-img">
                                <div class="class-img-outer">
                                    <a href="single-courses.html"> <img
                                            src="{{ url_for('static', filename='img/class/class-3.jpg') }}"></a>
                                </div>
                            </div>
                            <div class="services-content text-left">
                                <h4 class="title"><a href="single-courses.html">High School</a></h4>
                                <p>We have been operating for over a decade</p>
                                <ul>
                                    <li>
                                        -6 week to 1 year
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="services-item mb-30 hover-zoomin">
                            <div class="services-img">
                                <div class="class-img-outer">
                                    <a href="single-courses.html"> <img
                                            src="{{ url_for('static', filename='img/class/class-4.jpg') }}"></a>
                                </div>
                            </div>
                            <div class="services-content text-left">
                                <h4 class="title"><a href="single-courses.html">Summer Camp</a></h4>
                                <p>We have been operating for over a decade</p>
                                <ul>
                                    <li>
                                        -6 week to 1 year
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- class area start -->
        <!-- testimonial-area -->
        <section id="testimonial" class="testimonial-area pt-120 pb-90  p-relative fix" style="background: url(" {{
            url_for('static', filename='img/bg/testimonial-bg.png' ) }}") no-repeat; background-position: center top;">
            <div class="container">
                <div class="row justify-content-center align-items-center mb-60">
                    <div class="col-xl-7 col-lg-10 col-md-12">
                        <div class="section-title section-title2 center-align mb-50 text-center wow fadeInDown animated"
                            data-animation="fadeInDown" data-delay=".4s">
                            <h5>Testimonial</h5>
                            <h2>Education is the foundation of mind growth</h2>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="testimonial-active wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="single-testimonial">
                                <div class="qt-img">
                                    <img src="{{ url_for('static', filename='img/testimonial/qt-icon.png') }}">
                                </div>
                                <p>Education is a vital aspect of human a development, providing pro individuals such
                                    knowledge a skills, and opportunities to acquire new universities info rma tion.e
                                    ncompasses formal lear </p>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Miranda H. Halim</h6>
                                        <span>Head Of Idea</span>
                                    </div>
                                    <div class="testi-author-img"> <img
                                            src="{{ url_for('static', filename='img/testimonial/testi_avatar.png') }}">
                                    </div>
                                    <div class="review-icon">
                                        <img src="{{ url_for('static', filename='img/bg/test-icon-01.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="qt-img">
                                    <img src="{{ url_for('static', filename='img/testimonial/qt-icon-02.png') }}">
                                </div>
                                <p>Education is a vital aspect of human a development, providing pro individuals such
                                    knowledge a skills, and opportunities to acquire new universities info rma tion.e
                                    ncompasses formal lear </p>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Braitly Dcosta</h6>
                                        <span>Head Of Offcer</span>
                                    </div>
                                    <div class="testi-author-img"> <img
                                            src="{{ url_for('static', filename='img/testimonial/testi_avatar_02.png') }}">
                                    </div>
                                    <div class="review-icon">
                                        <img src="{{ url_for('static', filename='img/bg/test-icon-02.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="qt-img">
                                    <img src="{{ url_for('static', filename='img/testimonial/qt-icon.png') }}">
                                </div>
                                <p>Education is a vital aspect of human a development, providing pro individuals such
                                    knowledge a skills, and opportunities to acquire new universities info rma tion.e
                                    ncompasses formal lear </p>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Miranda H. Halim</h6>
                                        <span>Head Of Idea</span>
                                    </div>
                                    <div class="testi-author-img"> <img
                                            src="{{ url_for('static', filename='img/testimonial/testi_avatar.png') }}">
                                    </div>
                                    <div class="review-icon">
                                        <img src="{{ url_for('static', filename='img/bg/test-icon-01.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="qt-img">
                                    <img src="{{ url_for('static', filename='img/testimonial/qt-icon-02.png') }}">
                                </div>
                                <p>Education is a vital aspect of human a development, providing pro individuals such
                                    knowledge a skills, and opportunities to acquire new universities info rma tion.e
                                    ncompasses formal lear </p>
                                <div class="testi-author">
                                    <div class="ta-info">
                                        <h6>Braitly Dcosta</h6>
                                        <span>Head Of Offcer</span>
                                    </div>
                                    <div class="testi-author-img"> <img
                                            src="{{ url_for('static', filename='img/testimonial/testi_avatar_02.png') }}">
                                    </div>
                                    <div class="review-icon">
                                        <img src="{{ url_for('static', filename='img/bg/test-icon-02.png') }}">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->
        <!-- team-area -->
        <section id="team" class="team-area fix p-relative pt-120 pb-90">
            <div class="animations-09"><img src="{{ url_for('static', filename='img/bg/slider_shape06.png') }}"></div>
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="section-title section-title2 p-relative mb-50 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".4s">
                            <h5>Our team member</h5>
                            <h2>
                                Navigate Challenges with Consulting Expertise
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8"></div>
                </div>
                <div class="row team-active">
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-team mb-30">
                            <div class="team-thumb">
                                <div class="brd">
                                    <img src="{{ url_for('static', filename='img/team/team01.png') }}">

                                </div>
                                <div class="team-info">
                                    <div class="team-social">
                                        <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                        <ul>

                                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="team-single.html">H.Alexander Anna</a></h4>
                                    <p>Managing Director</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-team mb-30">
                            <div class="team-thumb">
                                <div class="brd">
                                    <img src="{{ url_for('static', filename='img/team/team02.png') }}">
                                </div>
                                <div class="team-info">
                                    <div class="team-social">
                                        <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                        <ul>

                                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="team-single.html">Elizabeth Joseph</a></h4>
                                    <p>Managing Director</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-team mb-30">
                            <div class="team-thumb">
                                <div class="brd">
                                    <img src="{{ url_for('static', filename='img/team/team03.png') }}">
                                </div>
                                <div class="team-info">
                                    <div class="team-social">
                                        <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                        <ul>

                                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="team-single.html">Benjamin Evelyn</a></h4>
                                    <p>Designer</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-team mb-30">
                            <div class="team-thumb">
                                <div class="brd">
                                    <img src="{{ url_for('static', filename='img/team/team04.png') }}">
                                </div>
                                <div class="team-info">
                                    <div class="team-social">
                                        <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                        <ul>

                                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="team-single.html">Jack Martin</a></h4>
                                    <p>Designer</p>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- team-area-end -->
        <!-- counter-area -->
        <div class="counter-area pt-90 pb-60" style="background:#FCFAF8;">
            <div class="container">

                <div class="row p-relative cont-color">
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-title section-title2 p-relative wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".4s">
                            <h2>
                                Our Achievement Milestones
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated"
                            data-delay=".2s">
                            <div class="counter p-relative"
                                style="background-image:url({{ url_for('static', filename='img/bg/c-object.png') }});  background-repeat: no-repeat;">
                                <span class="count">200</span><small>+</small>
                                <p>Team member</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated"
                            data-delay=".2s">
                            <div class="counter p-relative"
                                style="background-image:url({{ url_for('static', filename='img/bg/c-object.png') }});  background-repeat: no-repeat;">
                                <span class="count">20</span> <small>+</small>
                                <p>Winning award</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated"
                            data-delay=".2s">
                            <div class="counter p-relative"
                                style="background-image:url({{ url_for('static', filename='img/bg/c-object.png') }});  background-repeat: no-repeat;">
                                <span class="count">10</span> <small>k+</small>
                                <p>Complete project</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                        <div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated"
                            data-delay=".2s">
                            <div class="counter p-relative"
                                style="background-image:url(/scholary/img/bg/c-object.png);  background-repeat: no-repeat;">
                                <span class="count">900</span><small>+</small>
                                <p>Client review</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter-area-end -->
        <!-- blog-area -->
        <section id="blog" class="blog-area blog-area3 p-relative fix pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="section-title section-title2 center-align mb-50 text-center wow fadeInDown animated"
                            data-animation="fadeInDown" data-delay=".4s">
                            <h5> Our Blog</h5>
                            <h2>
                                Latest Blog & News
                            </h2>

                        </div>

                    </div>
                </div>
                <div class="row date-bg">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 hover-zoomin mb-30 wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img
                                        src="{{ url_for('static', filename='img/blog/inner_b4.jpg') }}"></a>
                                <div class="date-home">
                                    24th March
                                </div>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> By Admin </li>
                                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Full-day kindergarten in Alberta kindergarten saves
                                        families.</a></h4>
                                <div class="blog-btn"><a href="blog-details.html">Read More <i
                                            class="fal fa-long-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img
                                        src="{{ url_for('static', filename='img/blog/inner_b5.jpg') }}"></a>
                                <div class="date-home">
                                    24th March
                                </div>
                            </div>
                            <div class="blog-content2">

                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> By Admin </li>
                                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Planting Seeds in the Hearts of Preschoolers</a></h4>
                                <div class="blog-btn"><a href="blog-details.html">Read More <i
                                            class="fal fa-long-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp"
                            data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img
                                        src="{{ url_for('static', filename='img/blog/inner_b6.jpg') }}"></a>
                                <div class="date-home">
                                    24th March
                                </div>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> By Admin </li>
                                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Why children need a Healthy Environment thousands</a>
                                </h4>
                                <div class="blog-btn"><a href="blog-details.html">Read More <i
                                            class="fal fa-long-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- blog-area-end -->
    </main>
    <!-- main-area-end -->
    {% include 'footer.html' %}

    <!-- JS here -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/paroller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js_isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallax-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/element-in-view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>